.navbar-profile-pic img{
    border-radius: 90px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    margin-top: 20px;
}

.nav-item{
    color: white;
    margin-top: 30px;
    text-align: left;
}
.nav-link{
    margin-top: 20px;
    cursor: pointer;
}

.nav-link svg{
    margin-right: 10px;
}
.nav-link:hover{
    color: rgb(239, 17, 17);
}
.menu-container {
    margin-top: 170px;
}

.nav-link .active{
    text-decoration: none;
}