.mobileNav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media (min-width: 600px) {
    .mobileNav {
        display: none;
    }
}

.mobileNav-header {
    height: 50px;
    background-color: #1e1e1e;
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-title {
    margin-left: 20px;
    color: #f29f67;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}

.mobileNav-menu .navbar-menu{
    height: auto;
    width: 200px;
    background-color: #1e1e1e;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
}

.mobile-nav-icon{
    color: white;
}